@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
#root, .page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}
.btn-blaze {
  background-color: #800000;
}

.text-blaze {
  color: #800000;
}

.text-spice {
  color: #982b1c;
  font-weight: 650;
}

.modal .modal-content {
  border-radius: 50px;
  padding: 5px 15px;
  /* Add shadow for a soft overlaying effect */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.timeline-item {
  display: flex;
  align-items: center;
}

.vertical-line {
  width: 2px;
  background-color: #8a0707;
}

.travel-time-circle {
  background-color: #8a0707;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Custom style for dropdown items */
.custom-dropdown-item:hover {
  background-color: #800000 !important; /* Dark maroon color on hover */
  color: white !important; /* Optional: Change text color on hover */
}

/* src/styles/overviewStats.css */

.stat-card {
  text-align: center;
  padding: 1rem;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.stat-card h3 {
  font-size: 1.2rem;
  color: #333;
}

.stat-card p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #800000;
}
